/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* debug rules */
.debug .info {
    height: 80px;
    background-color: red;
}

.debug .contact {
    height: 80px;
    background-color: violet;
}
/* end debug header */

.debug .jumbo {
    height: 1000px;
    width: 100%;
    
}

.debug .top-bottom {
    height: 100%;
    background-color: yellow;
}

.debug .free_try {
    height: 45%;
    background-color: orange;
}

.debug .preview {
    height: 45%;
    background-color: palevioletred;
}

.debug .subscription {
    height: 800px;
    background-color: greenyellow;
}

.debug .professional {
    height: 80%;
    background-color: hotpink;
}

.debug .standard {
    height: 80%;
    background-color: indianred;
}

.debug .advanced {
    height: 80%;
    background-color: lightcoral;
}

.debug .ufficio {
    height: 300px;
    width: 100%;
    background-color: lightgrey;
}

.debug .operation {
    height: 600px;
    width: 100%;
    background-color: lightslategrey;
}

.debug .task {
    height: 45%;
    width: 33.3%;
    background-color: lightsteelblue;
}

.debug .sponsor {
    height: 600px;
    width: 100%;
    background-color: maroon;
}

.debug .brand {
    height: 55%;
    width: 30%;
}

.debug .brand div:nth-child(1){
    height: 50%;
    width: 50%;
    background-color: olive;
}

.debug .brand div:nth-child(2){
    height: 50%;
    width: 50%;
    background-color: yellow;
}

.debug .brand div:nth-child(3){
    height: 50%;
    width: 50%;
    background-color: yellowgreen;
}

.debug .brand div:nth-child(4){
    height: 50%;
    width: 50%;
    background-color: lime;
}

.debug .leader {
    height: 55%;
    width: 40%;
    background-color: pink;
}
/* end debug main */

.debug footer {
    height: 400px;
    width: 100%;
    background-color: black;
}

.debug .links {
    height: 250px;
}

.debug .links div:nth-child(1) {
    height: 90%;
    width: 20%;
    background-color: rgb(78, 32, 32);
}

.debug .links div:nth-child(2) {
    height: 90%;
    width: 20%;
    background-color: white;
}

.debug .links div:nth-child(3) {
    height: 90%;
    width: 20%;
    background-color: rgb(202, 175, 175);
}

.debug .links div:nth-child(4) {
    height: 90%;
    width: 20%;
    background-color: rgb(148, 101, 101);
}

.debug .links div:nth-child(5) {
    height: 90%;
    width: 20%;
    background-color: rgb(128, 66, 66);
}
/* end debug footer */


/* common rules */
body {
    font-family: 'Open Sans',sans-serif;
}

.container>div {
    float: left;
}

.content {
    width: 70%;
    margin: auto;
}

.top-bottom {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

/* utility */
.button {
    color: white;
    padding: .3rem .9rem;
    background-color: #0061ff;
}


/***********
 header 
 ***********/
 header {
     width: 100%;
     position: fixed;
     background-color: white;
 }

 header .info, header .contact {
     width: 50%;
     padding: 1.5rem;
     font-size: .8rem;
 }
 header li {
     margin: 0 1rem;
     display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}

header img {
    vertical-align: middle;
}

header .sx {
    display: inline-block;
    width: 69%;
    text-align: left;
}

header .dx {
    text-align: right;
}


 /***********
  main 
  ***********/
.jumbo {
    padding-top: 7rem;
    background-color: #b4d0e7;
  }

.jumbo>h1 {
    font-size: 3.6rem;
    width: 80%;
    margin: auto;
}
.free_try {
    width: 40%;
    font-size: 1.04rem;
}

.free_try p:first-child {
    margin-bottom: 2rem;
}

.free_try p:last-child {
    margin-top: 1rem;
}

.preview {
    position: relative;
    width: 60%;
}

.preview img {
    position: static;
    width: 100%;
    height: 100%;
}

.professional {
      width: 33.3%;
  }

  .standard {
      width: 33.3%;
  }

  .advanced {
      width: 33.3%;
  }

  /***********
   footer 
   ***********/